@import ./vendor/normalize
@import ./vendor/variables
@import ./vendor/keyframes
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap')

@import '../src/components/App/styles/todo/todo'
@import '../src/components/App/styles/todo/__container/todo__container'

@import ../src/components/Card/styles/card/card
@import ../src/components/Card/styles/card/__delete/card__delete
@import ../src/components/Card/styles/card/__delete-overlay/card__delete-overlay
@import ../src/components/Card/styles/card/__text/card__text
@import ../src/components/Card/styles/card/__text-opacity/card__text-opacity
@import ../src/components/Card/styles/card/__srtike/card__strike
@import ../src/components/Card/styles/card/__unstrike/card__unstrike

@import ../src/components/Card/styles/checkbox/checkbox
@import ../src/components/Card/styles/checkbox/__input/checkbox__input
@import ../src/components/Card/styles/checkbox/__checkmark/checkbox__checkmark

@import ../src/components/AddButton/styles/add/add
@import ../src/components/AddButton/styles/add/__first-span/add__first-span
@import ../src/components/AddButton/styles/add/__second-span/add__second-span
@import ../src/components/AddButton/styles/add/__span/add__span
@import ../src/components/AddButton/styles/add/_active/add_active
@import ../src/components/AddButton/styles/add/_inactive/add_inactive

@import ../src/components/Popup/styles/popup/popup
@import ../src/components/Popup/styles/popup/_opened/popup_opened
@import ../src/components/Popup/styles/popup/__container/popup__container
@import ../src/components/Popup/styles/popup/__container/_hide/popup__container_hide
@import ../src/components/Popup/styles/popup/__container/_show/popup__container_show
@import ../src/components/Popup/styles/popup/__form/popup__form
@import ../src/components/Popup/styles/popup/__input/popup__input
@import ../src/components/Popup/styles/popup/__submit/popup__submit
@import ../src/components/Popup/styles/popup/__title/popup__title

@import ../src/components/Main/styles/main
@import ../src/components/Main/styles/__empty/main__empty

@import ../src/components/Header/styles/header/header
@import ../src/components/Header/styles/header/__temp/header__temp
@import ../src/components/Header/styles/header/__location/header__location
@import ../src/components/Header/styles/header/__info/header__info
@import ../src/components/Header/styles/header/__weather-info/header__weather-info
@import ../src/components/Header/styles/header/__geo/header__geo
@import ../src/components/Header/styles/header/__weather-ico/header__weather-ico
@import ../src/components/Header/styles/header/__ico-image/header__ico-image

:root
  font-family: Open Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  color: $font-color
  background-image: linear-gradient(to bottom right, $gradient-bg-top, $gradient-bg-bottom)
  width: 100%
  height: 100%

