// base colors
$davys-gray: #595959
$battleship-gray: #808f85
$celadon: #91c499
$linen: #f2e9dc
$pear: #cfd11a


:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  color: #242424
  background-color: $celadon

h1 
  font-size: 3.2em
  line-height: 1.1

