@import ./vendor/normalize
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap')
// base colors
$gradient-bg-top: #6896A9
$gradient-bg-bottom: #325477
$container-bg: #1D3354
$checkbox-active: #87A3BC
$add-btn-green: #5C935B
$add-btn-red: #E84855
$font-color: #E9FFF9

:root
  font-family: Open Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400
  color: $font-color
  background-image: linear-gradient(to bottom right, $gradient-bg-top, $gradient-bg-bottom)
  width: 100%
  height: 100%

h1
  font-size: 3.2em
  line-height: 1.1

.todo
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.todo__container
  position: relative
  top: 20%
  left: 50%
  transform: translate(-50%, -10%)
  width: 300px
  min-height: 200px
  border-radius: 10px
  box-shadow: 5px 5px 10px $gradient-bg-bottom
  background-color: $container-bg
  padding-bottom: 25px

.card
  display: flex
  flex-direction: row
  width: 100%
  height: 60px
  box-sizing: border-box
  padding: 10px
  user-select: none

.card__delete-overlay
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  pointer-events: auto
  &:hover .card__delete
    opacity: 0.6

.card__delete
  opacity: 0
  transition: opacity .5s
  margin-left: auto
  background: url("./image/trash-icon.svg") center no-repeat
  background-size: 100% auto
  border: 0
  width: 25px
  background-size: 100% auto
  cursor: pointer
  &:hover
    opacity: 1 !important
  &:active
    width: 23px
    margin-right: 1px

.card__text
  margin: auto 10px
  position: relative

.card__text-opacity
  color: rgba(233, 255, 249, 0.5)

.checkbox
  margin: auto 0
  height: 22px
  display: inline-block
  position: relative
  padding-left: 22px
  cursor: pointer
  user-select: none

.checkbox__input
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0
  &:checked ~ .checkbox__checkmark
    background-color: $checkbox-active
    &:after
      opacity: 1

.checkbox:hover .checkbox__input
  ~ .checkbox__checkmark
    background-color: #eee
  &:checked ~ .checkbox__checkmark
    background-color: $checkbox-active

.checkbox__checkmark
  box-sizing: content-box
  border: 1px $gradient-bg-bottom solid
  position: absolute
  top: 1px
  left: 0
  height: 20px
  width: 20px
  background-color: #eee
  transition: background-color 0.25s ease
  border-radius: 11px
  &:after
    content: ""
    position: absolute
    left: 7px
    top: 4px
    width: 4px
    height: 8px
    border: solid $gradient-bg-bottom
    border-width: 0 2px 2px 0
    transform: rotate(45deg)
    opacity: 0
    transition: opacity 0.25s ease

.add
  position: absolute
  bottom: -25px
  left: 125px
  cursor: pointer
  width: 50px
  height: 50px
  border-radius: 50%
  border: none
  background-color: $add-btn-green
  pointer-events: auto
  transition: transform 0.3s
  z-index: 3
  box-shadow: 0 5px 10px $gradient-bg-bottom
  &:active
    transform: scale(0.9)
  &:disabled
    transform: scale(0)

.add-active
  background-color: $add-btn-red
  .add__first-span
    animation: animFirstSpin 0.3s both
  .add__second-span
    animation: animSecondSpin 0.3s both

.add-inactive
  .add__first-span
    animation: animFirstReverseSpin 0.3s both
  .add__second-span
    animation: animSecondReverseSpin 0.3s both

.span
  transition: all 0.3s
  height: 2px
  background-color: white
  display: block
  width: 20px

.add__first-span
  transform: rotate(90deg)
  margin: auto
  margin-top: 1px
.add__second-span
  transform: rotate(0deg)
  margin: auto
  margin-top: -1px

@keyframes animFirstSpin
  0%
    transform: rotate(90deg)
  100%
    transform: rotate(135deg)

@keyframes animSecondSpin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(45deg)
    margin-top: -2px

@keyframes animFirstReverseSpin
  0%
    transform: rotate(135deg)
  100%
    transform: rotate(90deg)

@keyframes animSecondReverseSpin
  0%
    transform: rotate(45deg)
    margin-top: -2px
  100%
    transform: rotate(0deg)
    margin-top: -1px

@keyframes str
  0%
    width: 0
  100%
    width: 110%

@keyframes unstr
  0%
    width: 110%
  100%
    width: 0

.strike
  &:after
    content: ""
    position: absolute
    height: 2px
    background: rgba(233, 255, 249, 0.7)
    animation: str 0.3s
    width: 110%
    top: 55%
    left: -5%

.unstrike
  &:after
    content: ""
    position: absolute
    height: 2px
    background: rgba(233, 255, 249, 0.7)
    animation: unstr 0.3s
    width: 0%
    top: 55%
    left: -5%

@keyframes popupShow
  0%
    transform: translateY(50px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

@keyframes popupHide
  0%
    transform: translateY(0)
    opacity: 1
  100%
    transform: translateY(50px)
    opacity: 0

.popup
  border-radius: 10px
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.3)
  visibility: hidden
  opacity: 0
  z-index: 2
  transition: visibility 0.2s, opacity 0.2s linear

.popup_opened
  visibility: visible
  opacity: 1
  transition: visibility 0.2s, opacity 0.2s linear

.popup__container
  position: absolute
  left: 10px
  bottom: 40px
  width: 280px
  height: 150px
  border-radius: 10px
  background-color: $container-bg
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15)
  display: flex
  z-index: 4

.show
  animation: popupShow .5s both

.hide
  animation: popupHide .5s both

.popup__form
  display: flex
  flex-direction: column
  margin: auto
  width: 85%
  height: 110px
  gap: 20px

.popup__title
  font-style: normal
  font-weight: 600
  font-size: 15px
  margin: 0

.popup__input
  display: block
  height: 30px
  border: 1px $gradient-bg-top solid
  border-radius: 3px
  background-color: $container-bg
  font-size: 13px
  padding: 0 0 2px 15px
  color: $font-color
  &::placeholder
    color: $gradient-bg-top

.popup__submit
  padding: 0
  background-color: $container-bg
  color: $gradient-bg-top
  border: none
  margin-left: auto
  font-weight: 500
  font-size: 15px
  cursor: pointer
  transition: opacity 0.3s
  &:hover
    opacity: 0.6

.todo__empty
  width: 100%
  text-align: center
  margin-top: 15px
  font-size: 60px
  opacity: 0.3

.header
  user-select: none
  height: 80px
  box-sizing: border-box
  padding: 10px
  border-bottom: 1px $gradient-bg-top solid
  display: flex
  flex-direction: row
  justify-content: space-between

.header__temp
  margin: 0
  display: inline
  font-size: 50px
  font-weight: normal
  display: flex
  flex-direction: column
  justify-content: end
  line-height: 45px
  letter-spacing: -2px

.header__location
  display: flex
  flex-direction: column
  justify-content: end
  padding-left: 14px

.header__info
  display: block
  font-size: 12px
  line-height: 16px

.header__weather-info
  min-width: 10px
  display: flex
  flex-direction: row

.header__geo
  fill: $font-color
  height: 8px
  width: 8px
  margin-right: 5px

.header__weather-ico
  display: flex
  flex-direction: column
  justify-content: space-between
  padding-right: 8px

.header__ico-image 
  width: 45px
  height: 45px
  margin: auto